.hero {
    @apply grid grid-cols-2 items-center gap-8 py-16 h-screen relative overflow-hidden bg-[#fdf5e6];
}






.heroTitle {
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #b02727;
}

.content {
    @apply relative mx-auto text-center;
}

.heroSubtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.title {
    @apply relative z-10 font-serif text-5xl text-[#b02727];
}

